{% extends 'base.html.twig' %}

{% block title %}All projects in database{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/db/project/list.css')}}">
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="list_container">
       <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Language</th>
                    <th scope="col">Git path</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <th scope="row">{{project.id}}</th>
                        <td>{{project.name}}</td>
                        <td>{{project.language}}</td>
                        <td>{{project.gitPath}}</td>
                        <td>{{project.description}}</td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
