<div class="home" id="home">
    <div class="contacts">
        {% for contact in contacts %}
        {% set preffix = "" %}
        {% if (contact.name == "Phone Ukraine" or contact.name == "Phone Polish") %}
            {% set preffix = "tel:" %}
        {% endif %}
        <div class="contact">
            <a href="{{preffix}}{{contact.contact}}" class="contact-link">
                <div class="name contact-{{contact.name}}" >
                    {% if preffix == "tel:" %}
                        +{{contact.contact}}
                    {% else %}
                        {{contact.name}}
                    {% endif %}    
                </div>
                <img src="{{contact.icon_path}}" alt="{{contact.name}}">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="home-container">
            <div class="home-describe">
                <div class="describe">
                    <h1>Hello</h1>
                    <h1>My name is <span class="home-name">Dmytrii</span></h1>
                    <h1>I am a <span class="type-element">Full-Stack</span> developer</h1>
                </div>
                <div class="home-scroll-container">
                    <img src="/images/button-icon/arrow.png" alt="">
                    <div class="scroll-content">
                        <div class="content">
                            <img src="/images/lg-icon/html.png" alt="">
                            <div>
                                I have experience with HTML5 and Bootstrap. My experience includes building web page structure using HTML5, designing stylish and responsive interfaces using Bootstrap.</div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/css.png" alt="">
                            <div>
                                I have experience with CSS and SCSS, including creating complex layouts, customizing styles, adapting for different devices and optimizing visual content on websites.
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/js.png" alt="">
                            <div>
                                I have experience in writing JavaScript scripts using jQuery, TypeIn, HLJS. I have more experience in writing code on NodeJs and less on TypeScript.
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/php.png" alt="">
                            <div>
                                I have experience in writing server-side code in PHP which includes such frameworks as Symfony, Doctrine, understand and write SQL queries.
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/csharp.png" alt="">
                            <div>
                                I understand the workings of the language, I use it as an additional language that may have value in server-side development "ASP.Net Core" and web application development "WPF"
                            </div>
                        </div>
                    </div>
                    <img src="/images/button-icon/arrow.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>