<div class="home" id="home">
    <div class="contacts">
        {% for contact in contacts %}
        {% set preffix = "" %}
        {% if (contact.name == "Phone Ukraine" or contact.name == "Phone Polish") %}
            {% set preffix = "tel:" %}
        {% endif %}
        <div class="contact">
            <a href="{{preffix}}{{contact.contact}}" class="contact-link">
                <div class="name contact-{{contact.name}}" >
                    {% if preffix == "tel:" %}
                        +{{contact.contact}}
                    {% else %}
                        {{contact.name}}
                    {% endif %}    
                </div>
                <img src="{{contact.icon_path}}" alt="{{contact.name}}">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="home-container">
            <div class="home-describe">
                <div class="describe">
                    <h1>Hello</h1>
                    <h1>My name is <span class="home-name">Dmytrii</span></h1>
                    <h1>I am a 
                        <div class="type-element">C#</div> 
                        <div class="type-element">Python</div>
                        <div class="type-element">PHP</div>
                        <div class="type-element">NodeJs</div>
                    developer</h1>
                </div>
                <div class="home-scroll-container">
                    <img src="/images/button-icon/arrow.png" alt="">
                    <div class="scroll-content">
                        <div class="content">
                            <img src="/images/lg-icon/csharp.png" alt="">
                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat facere omnis, illo, magnam deleniti fuga officia explicabo fugit aspernatur autem aut dolores nihil alias quo non dolorem quis soluta unde.
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/python.png" alt="">
                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto voluptate deleniti ab a obcaecati? Id vel repellendus commodi natus soluta neque, aspernatur, architecto nihil voluptatem, voluptates fugiat? Asperiores, maiores deleniti?
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/php.png" alt="">
                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quia adipisci eveniet dolor ipsa possimus, iure quasi. Temporibus fugit veniam tenetur provident alias praesentium exercitationem ratione! Provident inventore officiis culpa?
                            </div>
                        </div>
                        <div class="content">
                            <img src="/images/lg-icon/js.png" alt="">
                            <div>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore placeat aliquam inventore numquam, enim molestias optio, mollitia possimus qui vero, aliquid error aperiam. Voluptatum eligendi qui corporis! Inventore, doloribus amet!
                            </div>
                        </div>
                    </div>
                    <img src="/images/button-icon/arrow.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>