<a href="" class="chapter-title" id="chapter-title-skills"></a>
<div class="skills-container">
    <div class="skill-choise">
        {% for skill in skills %}
            <div class="skill-button-wrapp">
                <div class="skill-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                    </svg>
                    <div class="skill">
                        <img src="{{skill.icon_path}}" alt="">
                        <div class="description">
                            {{skill.base_description}}
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem nesciunt consectetur et autem omnis. Dolores, laboriosam rem doloremque repellat est maiores, non aperiam necessitatibus id numquam voluptatibus beatae pariatur praesentium.
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="skill-container">
        {% for skill in skills %}
        <div class="skill">
            <div class="full-description">
                <h2 class="title">More about {{skill.name}}</h2>
                {{skill.description}}</div>
            <pre class="code-example">
                <code class="{{skill.hljs_tag}}">
                    {{skill.code|slice(0, 1000)}}
                </code>
            </pre>
        </div>
        {% endfor %}
    </div>
</div>