<div class="skills-container">
    <div class="title" id="chapter-title-skills">Skills</div>
    <div class="skill-choise">
        {% for skill in skills %}
            <div class="skill-button-wrapp">
                <div class="skill-button">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect></rect>
                    </svg>
                    <div class="skill">
                        <img src="{{skill.icon_path}}" alt="">
                        <div class="description">
                            {{skill.base_description}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="skill-container">
        {% for skill in skills %}
        <div class="skill">
            <div class="full-description">
                <h2 class="title">More about my experience in {{skill.name}}</h2>
                <div>{{skill.description}}</div>
            </div>
            <pre class="code-example">
                <code class="{{skill.hljs_tag}}">
                    {{skill.code|slice(0, 1000)}}
                </code>
            </pre>
        </div>
        {% endfor %}
    </div>
</div>