<a href="" class="chapter-title chapter-title-skills"># Skills</a>
<div class="skills-container">
    <div class="skills">
        {% set sliceMax = 1000 %}
        {% for skill in skills %}
            <div class="skill-names">
                {% for skill_2 in skills %}
                    {% if skill.name == skill_2.name %}
                        <div class="skill-names-name-active skill-{{skill_2.project_language}}-button">{{skill_2.name}}</div>
                    {% else %}
                        <div class="skill-names-name skill-{{skill_2.project_language}}-button">{{skill_2.name}}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="skill skill-{{skill.project_language}}">
                    <div class="skill-subcontainer">
                        <ul class="background">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="skill-description">
                            {{skill.description|slice(0, sliceMax/2)}}...
                        </div>
                        <div class="skill-button-wrapp">
                            <div class="skill-button">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <rect></rect>
                                </svg>
                                Read more
                            </div>
                        </div>
                    </div>
                    <div class="skill-code">
                        <img src="{{skill.icon_path}}" alt="">
                        <pre>
                            <code class="{{skill.hljs_tag}}">
                                {{skill.code|slice(0, sliceMax/2)}}
                                .
                                .
                                .
                            </code>
                        </pre>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>