<div class="skill-container">
    <div class="skill">
        <div class="skill-info">
            <div class="name">{{skill.name}}</div>
            <div class="duration">
                Duration: {{skill.duration}}
            </div>
            <div class="resume-rate" style="width: {{skill.rate * 25}}px;"></div>
            <div class="projects">
                <div class="projects-title">Projects:</div>
                {% for project in projects %}
                    {% if project.language == skill.name %}
                        <div class="project">
                            <a href="{{project.git_path}}">{{project.name}}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="skill-subcontainer">
            <div class="skill-description">
                {{skill.description}}
            </div>
        </div>
        <div class="skill-code">
            <img src="{{skill.icon_path}}" alt="">
            <pre>
                <code class="{{skill.hljs_tag}}">
                    {{skill.code}}
                </code>
            </pre>
        </div>
    </div>
</div>
